.body-contnet{

}

.list-group{
    postion:absolute;
    top:150px;
    margin: 2% 35% 2% 2%;
}
.list-group-item{
    color:#000000;
}

.list-group-item > *{
    display: inline-block;
    margin: 0% 5%;
}

.body-contnet > form{
    position: fixed;
    overflow-x: hidden;
    top: 120px;
    background:gray;
    padding: 1%;
    margin: 2% 2% 2% 67%;
}